var credentials = {
        username: 'YOUR-BOT-USERNAME'
    ,   oauthtoken: 'YOUR-TWITCHTOKEN' //oauth:something-somethign   via http://www.twitchapps.com/tmi/ 
};


module.exports = {
    bot_credentials: credentials

};
